<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="/res/css/amazeui.min.css">
		<link rel="stylesheet" href="/res/css/admin.css">
		<link rel="stylesheet" href="/res/css/app.css">
	</head>

	<body>

		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">打印提供商列表</strong><small></small></div>
			</div>

			<hr>

			<div class="am-g">
				<div class="am-u-sm-12 am-u-md-3">
					<div class="am-input-group am-input-group-sm">
						<input id="roleName" class="am-form-field" placeholder="请输入搜索关键字" type="text">
						<span class="am-input-group-btn">
									<button class="am-btn am-btn-default" type="button" id="btnsearch">
										搜索
									</button> 
						</span>
					</div>
				</div>
			</div>

			<div class="am-g" style="margin-top: 5px;">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th>
										商家名称
									</th>
									<th class="table-title">
										位置
									</th>
								</tr>
							</thead>
							<tbody id="tUser">
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学一号打印店</a>
										</td>
										<td>江科大一食堂对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学二号打印店</a>
										</td>
										<td>江科大教研楼一楼103</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学三号打印店</a>
										</td>
										<td>江科大C11对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学一号打印店</a>
										</td>
										<td>江科大一食堂对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学二号打印店</a>
										</td>
										<td>江科大教研楼一楼103</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学三号打印店</a>
										</td>
										<td>江科大C11对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学一号打印店</a>
										</td>
										<td>江科大一食堂对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学二号打印店</a>
										</td>
										<td>江科大教研楼一楼103</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学三号打印店</a>
										</td>
										<td>江科大C11对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学一号打印店</a>
										</td>
										<td>江科大一食堂对门</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学二号打印店</a>
										</td>
										<td>江科大教研楼一楼103</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:void(0)">江苏科技大学三号打印店</a>
										</td>
										<td>江科大C11对门</td>
									</tr>

							</tbody>
						</table>

					</form>
				</div>
			</div>
		</div>

		</div>
		<!-- content end -->
		</div>
		</div>

		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="js/jquery-1.11.3.min.js"></script>
		<!--<![endif]-->
		<script type="text/javascript" src="myplugs/js/plugs.js"></script>
		<script>
			$(function() {

				$(".btnedit").click(function() {

					$.jq_Panel({
						title: "修改类型",
						iframeWidth: 500,
						iframeHeight: 300,
						url: "http://www.17sucai.com/preview/81082/2018-04-30/ht/editRole.html"
					});
				});

				$(".btnAdd").click(function() {

					$.jq_Panel({
						title: "添加类型",
						iframeWidth: 500,
						iframeHeight: 300,
						url: "edit.html"
					});

				});
			});

		</script>
	</body>

</html>